*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}
header {
  background-color: #1a252c;
  color: white;
  text-align: center;
}
.item {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 1px solid gray;
}
.item:nth-last-of-type(odd) {
  background-color: gray;
  color: white;
}
.image {
  width: 40%;
}
img {
  width: 100%;
}
.item:nth-of-type(even) .image {
  margin-left: auto;
  order: 2;
}
.text {
  padding: 20px;
  width: 60%;
}
h1 {
  font-family: 'Lobster';
  font-size: 34px;
}
p {
  font-family: 'Lobster';
  font-size: 18px;
}
footer {
  padding: 10px;
  background-color: #1a252c;
  color: white;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: underline;
}
@media only screen and (max-width: 1080px) {
  .item {
    display: block;
    width: 100%;}
  .image {
    width: 100%;
  }
  .text {
    width: 100%;
  }
}
